body {
    background: black;
    color: white;
    font-family: system-ui;
}

.logo {
    max-width: 50px;
}

.slogan {
    color: #523f99;
    font-family: cursive;
}

.sponsorship {
    color: #e78d53;
    font-family: sans-serif;
}

.menu-item {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%
}

.menu-image {
    height: auto;
    max-width: 100%;
    border-radius: 20px;
}

.menu-name {
    font-weight: bold;
}

button {
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
}
